body {
	.name {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    font-family:Arial,Helvetica,sans-serif;font-size:100%;
      animation:flip 1s 0s 1 both;
      >div{
        animation:bounce 1s 0s 1 both;
      }
    >div:first-child {
        font-size: 60px;
        color: #FFF;
        //animation: iconAnimation 3s ease-in 0s;
    }
    >div:last-child {
        margin-top: 20px;
        font-size: 30px;
        color: #FFF;
        transition: all 0.2s 1.2s ease-out;
    }
  }

  .menu {
    .icon{
        z-index: 9999;
        position: fixed;
        top: 50px;
        left: 50px;
    }
    .cancel{
        content: '';
        display: inline-block;
        width: 40px;
        height: 2px;
        background: #FFF;
    }
    .show_icon {
        @extend .icon;
        &::before {
          @extend .cancel;
          transform: rotate(45deg);
        }
        &::after {
          @extend .cancel;
          margin-left: -40px;
          transform: rotate(135deg);
        }
    }
    .hide_icon {
        //animation: iconAnimation 0.2s ease-in 0.1s;
      animation:rotateIn 1s 0s 1 both;
        @extend .icon;
        width: 40px;
        height: 32px;
        border-bottom: #db0011 solid 2px;
        border-top: #db0011 solid 2px;
        &::after {
                content: '';
                width: 40px;
                height: 2px;
                background: #db0011;
                display: inline-block;
              }
    }
    @keyframes rotateIn {
      from {
        transform-origin: center;
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
      }

      to {
        transform-origin: center;
        transform: none;
        opacity: 1;
      }
    }

    @keyframes iconAnimation {
        0% {
           transform: scale(0.4);
        }

        100%{
           transform: scale(1.5);
        }
    }
    .bg {
        position: fixed;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.3;
        z-index: 999;
    }
    .menu_list {
        width: 100%;
        position: fixed;
        top: 100px;
        left: 50px;
        color: #333;
        font-size: 20px;
        z-index: 999;
        >div {
          cursor: pointer;
          padding: 20px 0;
        }
        >div:hover{
          color: #fff;
        }
    }
  }

  .aboutMe{
    width: 100%;
    padding-top: 150px;
    h2 {
       text-align: center;
       padding: 20px 0;
    }
    p{
    text-align: center;
    color: #666;
    }
    footer {
      margin: 50px;
      display: flex;
      justify-content: space-around;

    }
    &:after{
         content: '';
         display: block;
         width: 50px;
         height: 2px;
         background: red;
         margin: 0 auto;
      }
  }


  .works {
    margin: 150px 0;
     h2 {
       text-align: center;
       padding: 20px 0;
    }
    p{
    text-align: center;
    color: #666;
    }
    .chunk{
      width: calc((100% - 200px) / 4);
      height: 200px;
      background: #333;
      position: relative;
      margin-left: calc(200px / 5);
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      >div{
             padding: 15px;
             background: #F10061;
             border-radius: 45px;
             color: #fff;
      }
      &:after{
         content: attr(data-desc);
         width: 100%;
         height: 200px;
         display: block;
         position: absolute;
         top: 0;
         background: #2f316e;
         text-align: center;
         line-height: 200px;
      }
    }
    .chunk:hover{
      //animation:flipInY 1s 0s 1 both;
       &:after{
         display: none;
      }
    }
    @keyframes flipInY {
      from {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
      }

      40% {
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        animation-timing-function: ease-in;
      }

      60% {
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
      }

      80% {
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
      }

      to {
        transform: perspective(400px);
      }
    }
    .items{
      display: flex;
      flex-wrap: wrap;
      margin: 50px 0;
    }
    &:after{
         content: '';
         display: block;
         width: 50px;
         height: 2px;
         background: red;
         margin: 0 auto;
      }
  }

  .contact{
    margin: 150px 0;
     h2 {
       text-align: center;
       padding: 20px 0;
    }
    a {
    display: block;
    width: 200px;
    padding: 20px;
    background: #F10061;
    color: #fff;
    margin: 0 auto;
      cursor: pointer;
      &:hover {
        animation:headShake 1s 0s 1 both;
      }
    }
    .concent_icon {
      display: flex;
      justify-content: space-around;
      width: 50%;
      margin: 0 auto;
      margin-top: 200px;
      > span{
        font-size: 40px;
        color: #389c33;
      }
    }
    @keyframes headShake {
      0% {
        transform: translateX(0);
      }

      6.5% {
        transform: translateX(-6px) rotateY(-9deg);
      }

      18.5% {
        transform: translateX(5px) rotateY(7deg);
      }

      31.5% {
        transform: translateX(-3px) rotateY(-5deg);
      }

      43.5% {
        transform: translateX(2px) rotateY(3deg);
      }

      50% {
        transform: translateX(0);
      }
    }

  }
  .carousel{
    position: relative;
    height: 300px;
    width: 500px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    align-items: flex-end;
    img {
      width: 500px;
      height: 300px;
      position: absolute;
      top: 0;
      left: 0;
      transition: z-index 0.3s ease-in-out 0s;
    }
    .chooseBtn{
      position: relative;
      z-index: 99;
      bottom: 0;
      display: flex;
      justify-content: space-around;
      span{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #fff;
        margin: 10px;
        &:hover{
          background: #ff5000;
        }
      }
    }
    .nextPrev {
    z-index: 99;

    position: absolute;
    top: 139px;
    left: 0;
    width: 100%;
    opacity: 1;
      >span:first-child {
        &::before{
             content: '';
    display: inline-block;
    width: 40px;
    height: 5px;
    transform: rotate(45deg);
    background: #c5c0c0;
        }
        &::after{
          content: '';
    display: inline-block;
    width: 43px;
    height: 5px;
    transform: rotate(135deg);
    background: #dedede;
    z-index: 99999;
    position: absolute;
    top: -14px;
    left: -1px;
        }
      }
    }
  }
}
